body{
    color: white;
    background-color: rgb(80, 88, 97);
}

.list-element{
    background-color: rgb(123, 128, 141);
    padding: 10px;
    margin-bottom: 1px;
}

.no-padding{
    padding: 0px;
}

